.react-boardgame__piece-selector {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 2rem;
  position: absolute;
  top: 6rem;
  left: 6rem;
  background-color: #dd6666;
}

.react-boardgame__square {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  background-color: #dd6666;
}

.react-boardgame__piece--color-white {
  color: white;
}

.react-boardgame__piece--color-black {
  color: black;
}
