.react-boardgame__board tr:nth-child(2n) td:nth-child(2n) {
  background-color: #ffcccc;
}

.react-boardgame__board tr:nth-child(2n+1) td:nth-child(2n+1) {
  background-color: #ffcccc;
}

.react-boardgame__board tr:nth-child(n) td.react-boardgame__square--highlighted {
  background-color: #999999;
}

.react-boardgame__board tr:nth-child(n) td:hover {
  background-color: #666666;
}
