.react-boardgame__board--shogi {
  border-collapse: separate;
  border-spacing: 0;
  margin: 1rem;
  padding: 1rem;
  background-color: #dd6666;
}

.react-boardgame__board--shogi .react-boardgame__square {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 0px;
  border-bottom: 0px;
  padding:0px;
  margin:0px;
  font-size: 4rem;
  height: 3.75rem;
  width: 3rem;
  background-color: #dd6666;
}

.react-boardgame__board--shogi td:hover {
  background-color: #666666;
}

.react-boardgame__hand-indicator__piece--shogi {
  display: inline-block;
}

.react-boardgame__hand-indicator__piece--shogi--highlighted,
.react-boardgame__board--shogi td.react-boardgame__square--highlighted {
  background-color: #999999;
}

.react-boardgame__board--shogi .react-boardgame__square:last-child {
  border-right: 1px solid black;
}

.react-boardgame__board--shogi tr:last-child .react-boardgame__square {
  border-bottom: 1px solid black;
}

.react-boardgame__hand-indicator--shogi {
  width: 16rem;
}

.react-boardgame__hand-indicator--shogi .react-boardgame__piece,
.react-boardgame__board--shogi .react-boardgame__piece {
  background-image: url('./pieceOutline.svg');
  background-size: 100% 100%;
  font-size: 2rem;
  height: 3.75rem;
  width: 3rem;
  text-align: center;
  line-height: 3.75rem;
  color: black;
}

.react-boardgame__hand-indicator--shogi .react-boardgame__piece--color-white,
.react-boardgame__board--shogi .react-boardgame__piece--color-white {
  transform: rotate(180deg);
}


.react-boardgame__hand-indicator--shogi, .react-boardgame__board--shogi {
  background-color: #dd6666;
  margin: 1rem;
  padding: 1rem;
  float: left;
}

.react-boardgame__hand-indicator--shogi .react-boardgame__piece {
  display: inline-block;
}
