.react-boardgame__board--go {
  border: 0px;
  border-collapse: collapse;
  border-spacing:0px;
}

.react-boardgame__board--go .react-boardgame__square {
  padding:0px;
  border-width:0px;
  margin:0px;
  font-size: 4rem;
  height: 3rem;
  width: 3rem;
  background-color: #dd6666;
}

.react-boardgame__board--go, .react-boardgame__prisoner-counter--go {
  background-color: #dd6666;
  margin: 1rem;
  float: left;
}

p {
  padding: 0;
  margin: 0;
}

.react-boardgame__prisoner-counter--go {
  padding: 1rem;
}

.react-boardgame__board--go .react-boardgame__piece {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

.react-boardgame__board--go td:hover {
  background-color: #666666;
}


.react-boardgame__board--go .react-boardgame__square {
  background-image: url('./bg.svg');
  background-size: 100% 100%;
}

.react-boardgame__board--go tr:first-child .react-boardgame__square {
  background-image: url('./bgSide.svg');
}

.react-boardgame__board--go tr:last-child .react-boardgame__square {
  background-image: url('./bgSide.svg');
  transform: rotate(180deg);
}

.react-boardgame__board--go tr .react-boardgame__square:first-child {
  background-image: url('./bgSide.svg');
  transform: rotate(270deg);
}

.react-boardgame__board--go tr .react-boardgame__square:last-child {
  background-image: url('./bgSide.svg');
  transform: rotate(90deg);
}

.react-boardgame__board--go tr:first-child .react-boardgame__square:first-child {
  background-image: url('./bgCorner.svg');
  transform: rotate(0deg);
}

.react-boardgame__board--go tr:first-child .react-boardgame__square:last-child {
  background-image: url('./bgCorner.svg');
  transform: rotate(90deg);
}

.react-boardgame__board--go tr:last-child .react-boardgame__square:first-child {
  background-image: url('./bgCorner.svg');
  transform: rotate(270deg);
}

.react-boardgame__board--go tr:last-child .react-boardgame__square:last-child {
  background-image: url('./bgCorner.svg');
  transform: rotate(180deg);
}

.react-boardgame__board--go .react-boardgame__piece img {
  width: 3rem;
  height: 3rem;
  color: black;
}

.react-boardgame__board--go .react-boardgame__piece--color-white img {
  color: white;
  filter: invert(1);
}
