.react-boardgame__board--go {
  border: 0px;
  border-collapse: collapse;
  border-spacing:0px;
}

.react-boardgame__board--go .react-boardgame__square {
  padding:0px;
  border-width:0px;
  margin:0px;
  font-size: 4rem;
  height: 3rem;
  width: 3rem;
  background-color: #dd6666;
}

.react-boardgame__board--go .react-boardgame__piece {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

.react-boardgame__board--go td:hover {
  background-color: #666666;
}


.react-boardgame__board--go .react-boardgame__square {
  background-image: url('./bg.svg');
  background-size: 100% 100%;
}
