table.react-chess-game, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 2rem;
}

td {
  height: 3rem;
  width: 3rem;
}

td {
  background-color: #ffcccc;
}

tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #dd6666;
}

tr:nth-child(2n) td:nth-child(2n+1) {
  background-color: #dd6666;
}

tr:nth-child(n) td.highlighted, tr:nth-child(n) td:hover {
  background-color: #333333;
}
